@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
}
header {
  @apply w-full py-14 pt-24;
  background-image: url('../public/images/bg.svg'), linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn {
  @apply uppercase transition-all text-primary-red bg-white px-8 py-3 w-fit rounded-3xl font-semibold;
}

.btn:hover, .btn:active {
  @apply bg-primary-red text-white shadow-sm;
}

/* Nav */
nav {
  @apply relative w-full max-w-6xl m-auto;
}

.wrapper_icon {
  @apply bg-white rounded-full flex items-center justify-center w-11 h-11;
}

nav li {
  @apply text-xl p-2 text-white font-bold;
}

nav li.active {
  @apply text-red-600;
}