@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply relative bg-white;
}
header {
  @apply w-full py-14 pt-24;
  background-image: url('../public/images/bg.svg'), linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

h3 {
  @apply font-bold text-5xl text-secondary-gray font-bold text-center;
}

.btn {
  @apply uppercase transition-all text-primary-red bg-white px-8 py-3 w-fit rounded-3xl font-semibold;
}

.btn:hover, .btn:active {
  @apply bg-primary-red text-white shadow-sm;
}

.image {
  @apply w-10 h-10 md:w-14 md:h-14;
}

/* Nav */
nav {
  @apply relative w-full max-w-6xl m-auto;
}

.wrapper_icon {
  @apply bg-white rounded-full flex items-center justify-center w-9 h-9 md:w-11 md:h-11;
}

nav li {
  @apply text-xl p-2 text-white font-bold;
}

nav li.active {
  @apply text-red-600;
}

/* Carousel */


.carousel_item__wrapper {
  @apply relative flex-[0_0_80%] md:flex-[0_0_50%] flex justify-center items-center;
}

.carousel_item {
  @apply relative w-full opacity-80 rounded-3xl;
  border: 1px solid #7d75754d;
  transition: transform 0.5s linear;
  transform: scale(0.8)
}

.selected {
  position: relative;
  z-index: 100;
}

.selected .carousel_item {
  @apply opacity-100 bg-white ;
  transform: scale(1.05);
  border: none;
  filter: drop-shadow(0px 12px 20px rgba(126, 118, 118, 0.2));
}

.control_btn {
  @apply p-3 text-5xl;
}

/* Product card */

.product_image {
  width: 100%;
  height: 110%;
  object-fit: contain;
  position: absolute;
  top: -50px;
}

.desc {
  @apply py-4 text-secondary-gray;
}
.desc svg {
  display: inline-block;
}

/* Case */

.case {
  @apply w-full p-3 flex flex-wrap items-center;
}

.case li {
  @apply text-black/70 text-lg font-normal border-b p-3 flex items-center;
  
}

.case li:last-child {
  border: none;
}

.case li::before {
  @apply mr-2 mt-2;
  content: url('../public/icons/arrow.svg');
}

/* Subscribe */

.subscribe {
  background-image: url('../public/images/bg_subscribe.png');
  background-size: contain;
  padding: 40px 0 40px 0;
}

.subscribe input {
  @apply w-full px-5 outline-none -mr-5;
  border-radius: 40px 0 0 40px;
  
}
.subscribe .btn {
  @apply bg-primary-red text-white border border-primary-red;
}

.subscribe .btn:hover, .subscribe .btn:active {
  @apply bg-white text-primary-red border;
}